body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.card h2 {
    color: #0e0e0e;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
}
.card p {
    color: #555;
}
.user-img {
    margin-bottom: 15px;
}
.user-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
#search
{
    margin-top: 20px;
    margin-bottom: 20px;
}
#search input
{
    width: 500px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}
#search input::placeholder
{
    padding-left: 10px;
    color: #0e0e0e;
}